<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mAInd</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/menu.css">
    <link rel="stylesheet" href="/static/css/chat.css">
    <link rel="stylesheet" href="/static/css/responsive.css">
</head>

<body>
    <script>
        
    </script>
    <div class="Chat">
        <!-- Menu será carregado aqui -->
        <div id="menu-container"></div>

        <div class="Chat-conversas" id="conversas-container">
            <div class="Titulo-page">
                <div class="Maind">
                    Maind
                </div>
            </div>
            <div class="Mensagens" id="mensagens-container">
                <div class="Conteudo" id="Conteudo">
                    <img class="Logo" id="logo" src="/static/images/Logo.png" alt="Logo Maind"/>
                </div>
                <div class="Campo">
                    <input type="text" class="input-mensagem" id="Input-Mensagem" placeholder="Digite algo...">
                    <div class="Icone">
                        <button class="Enviar">
                            <img src="/static/icons/Send.svg" alt="Enviar">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/static/js/index.js"></script>
    <script src="/static/js/mensagem.js"></script>
</body>

</html>
